body {
	background-color: #444;
}

img {
	/*border: 5px solid white;
	border-bottom: 8px solid white;*/
	z-index: 1;
}

div.image {
	float: left;
	height: 200px;
	width: 200px;
	z-index: 20;
}

div.image img {
	border:1px solid #444;
}

.image:hover img {
	border:1px solid #999;	
}

div#overlay {
	background-color: #000000;
	left: 0;
	top: 0;
	position: absolute;
	opacity: 0.6;	
	width: 100%;
	z-index: 40;
}

div#outerImageContainer {
	top: 40px;
	left: 0px;
	position: absolute;
	z-index: 100;
	width: 100%;
}

div#imageContainer {
	margin: 0 auto;
	position: relative;
}

div#imageContainer img{
	position: absolute;
	left: 0px;
	top: 30px;
}

div#outerImageContainer div#imageTitle {
	color: #FFFFFF;
}

div#imageNav {
	position: absolute;
	top: 20px;
	left: 0px;
	height: 100%;
	width: 100%;
	z-index: 1000;
}

div#imageNav a {
	height: 100%;
	width: 49%;
}

a#imageNavNext {
	float: right;
}

a#imageNavPrev {
	float: left;
}